.Changer {
  display: flex;
  flex-direction: column;
}
.Title {
  align-self: center;
  color: red;
}
.Number {
  align-self: center;
  font-size: 50px;
  color: green;
}
.Button {
  align-self: center;
  width: 50px;
  height: 50px;
  margin: 10px;
  font-size: 40px;
}
